/* Designing with large screen first in mind as this is a CV */
/* And the mobile part should primarily be putting the left and right column on 
on top of each other instead of infront */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

body {
    overflow: hidden;
    background: rgb(36, 36, 36);
    color: rgb(160, 160, 160);
    margin: 0;
    padding: 0;
}

.lighter-text {
    color: white;
}

.main {
    margin: auto;
    display: flex;
    width: 100vw;
    height: 100vh;
    max-width: 1280px;
}

a {
    color: #ffa500;
    border-radius: 1rem;
    text-decoration: none;
}

a:hover {
    color: #ffca66;
}

/* Left side / Top */

.left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.name-occ {
    margin: 0.5rem;
}

.name-occ>h2 {
    margin-bottom: 0.5rem;
}

.name-occ>h4 {
    margin: 0;
}

.profile-pic {
    margin: 1rem 0 1rem 0;
}

#prof-pic {
    width: 200px;
    border-radius: 50%;
}

.table-of-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.table-of-content>a:hover {
    font-size: 1.2rem;
    transition: ease 0.3s;
}

.contact-icon {
    width: 30px;
    margin-right: 0.1rem;
}

.contact-icon:hover {
    width: 40px;
}


#gh-1 {
    width: 25px;
    /* Github logo need size adjustment due to being round */
}

#gh-1:hover {
    width: 35px;
}

.links {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links>div {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* Right side / Bottom  */

.right {
    width: 60%;
    flex: 1;
    overflow-y: auto;
    /*  Claude coming in clutch */
    margin-right: calc(-50vw + 640px);
    padding-right: calc(50vw - 640px);
}

.right-content {
    margin: auto;
    width: 70%;
}

.right-content>div {
    margin-bottom: 5rem;
}

.projects>div {
    margin-bottom: 2rem;
}

.projects>div>p {
    margin: 0.25rem 0 0.25rem 0;
}

.focus {
    display: flex;
}

.project-link {
    color: rgb(160, 160, 160);
}

.project-link>div:hover {
    background: rgba(66, 66, 66, 0.5);
    border-radius: 0.5rem;
    margin: 1rem;
}

.label {
    margin-right: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #ffa500;
    border-radius: 2rem;
    min-width: 4rem;
}

.label-text {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/*  Small screen design */
@media screen and (max-width: 769px) {
    .main {
        display: flex;
        flex-direction: column;
    }
}