body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 98vw;
    height: 98vh;
    background-color: #24292e;
    color: #ffffff;
    font-family: 'Mona Sans';
    font-size: 22px;
}

.main-header {
    color: #ffffff;
    font-family: 'Mona Sans';
    font-size: 22px;
}