body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 99vw;
    height: 98vh;
    overflow-x: hidden;
    background-color: #24292e;
    color: #ffffff;
    font-family: 'Mona Sans';
    margin: 0.5rem;
}

a {
    color: orange;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.cv {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contact-icon {
    width: 20px;
    margin-right: 0.1rem;
}

.phone,
.email,
.linkedin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (min-width: 769px) {
    .top-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .name {
        margin: 0;
    }

    .top-bar hr {
        width: 100%;
        margin: 0.5rem;
    }

    .occupation {
        margin: 0;
    }

    .sidebars-p {
        font-size: 0.8rem;
    }

    .bottom {
        min-height: 0;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .left-col {
        width: 210px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .middle-col {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .right-col {
        width: 210px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 1rem;
    }

    .projects hr {
        margin: 0;
        width: 98%;
    }

    .projects h4,
    p {
        width: 98%;
        margin: 0.2rem;
    }

    .work-experience {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 1rem;
    }

    .work-experience hr {
        margin: 0;
        width: 98%;
    }

    .work-experience h4,
    p {
        width: 98%;
        margin: 0.2rem;
    }

    .profile-picture {
        max-width: 200px;
    }

    .picture-div hr {
        margin: 0;
        width: 98%;
    }
}



@media screen and (max-width: 768px) {
    body {
        margin: 0;
    }

    .profile-picture {
        display: none;
    }

    .cv {
        flex-grow: 1;
        width: 99%;
        justify-content: flex-start;
        align-items: center;
        margin: 1rem;
    }

    .cv>* {
        margin: 1rem;
    }

}