body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 99vw;
    height: 98vh;
    overflow-x: hidden;
    background-color: #24292e;
    color: #ffffff;
    font-family: 'Mona Sans';
    margin: 0.5rem;
}

a {
    color: orange;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.cv {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contact-icon {
    width: 20px;
    margin-right: 0.1rem;
}

.phone,
.email,
.linkedin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Arrow as seen in https://www.youtube.com/watch?v=0YhcQpbjz2U */
.up-arrow-area {
    position: fixed;
    width: 4rem;
    height: 4rem;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2rem;
}

.up-arrow-area.hidden {
    opacity: 0;
    visibility: hidden;
}

.up-arrow {
    border: solid orange;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%) rotate(-135deg);
}

.down-arrow-area {
    position: fixed;
    width: 4rem;
    height: 4rem;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2rem;
}

.down-arrow-area.hidden {
    opacity: 0;
    visibility: hidden;
}

.down-arrow {
    border: solid orange;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(15%) rotate(45deg);
}

@media screen and (min-width: 769px) {
    .top-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .name {
        margin: 0;
    }

    .top-bar hr {
        width: 100%;
        margin: 0.5rem;
    }

    .occupation {
        margin: 0;
    }

    .sidebars-p {
        font-size: 0.8rem;
    }

    .bottom {
        min-height: 0;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .left-col {
        width: 210px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .middle-col {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .right-col {
        width: 210px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 1rem;
    }

    .projects hr {
        margin: 0;
        width: 98%;
    }

    .projects h4,
    p {
        width: 98%;
        margin: 0.2rem;
    }

    .work-experience {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 1rem;
    }

    .work-experience hr {
        margin: 0;
        width: 98%;
    }

    .work-experience h4,
    p {
        width: 98%;
        margin: 0.2rem;
    }

    .profile-picture {
        max-width: 200px;
    }

    .picture-div hr {
        margin: 0;
        width: 98%;
    }
}



@media screen and (max-width: 768px) {
    body {
        margin: 0;
    }

    .picture-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .profile-picture {
        max-height: 200px;
        margin-top: 0;
    }

    .picture-div hr {
        margin: 0.5rem;
        width: 100%;
    }

    .cv {
        flex-grow: 1;
        width: 99%;
        justify-content: flex-start;
        align-items: center;
        margin: 1rem;
    }

    .cv>* {
        margin: 1rem;
    }

    .top-bar {
        margin: 0 !important;
    }


}